<!DOCTYPE html>
<html>

<head>
    <title>Mary Rankin</title>
    <script src="https://kit.fontawesome.com/555ee1662c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="d-flex flex-column vh-100">
    <div class="mx-2">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <h1><a href="/" class="home">Mary Rankin</a></h1>
            </div>
        </div>
    </div>

    <main>
        <section class="mx-2">
            <h2 class="px-4">Projects</h2>
            <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
                <div class="col">
                    <div class="card mx-5">
                        <img src="https://live.staticflickr.com/65535/51350780098_fc6a4fbbe2_b.jpg" class="card-img-top"
                            alt="restaurant sim screenshot">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Sim Game</h5>
                            <p class="card-text">A web-based game where you open a chain of restaurants and try to run a
                                successful
                                business</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Technologies Used:</strong> Node.js, Express, MongoDB, Mongoose,
                                EJS
                            </li>
                            <li class="list-group-item">
                                <strong>Future Work:</strong> Increasing restaurant options that users can unlock,
                                adding a
                                social aspect to the game
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="http://restaurantsim.xyz/" class="card-link btn btn-dark">View</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-5">
                        <img src="https://live.staticflickr.com/65535/51350519411_126a70c82e_c.jpg" class="card-img-top"
                            alt="minesweeper screenshot">
                        <div class="card-body">
                            <h5 class="card-title">Minesweeper</h5>
                            <p class="card-text">The classic game with added ability to load board configurations from external files</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Technologies Used:</strong> C++, SFML
                            </li>
                            <li class="list-group-item">
                                <strong>Future Work:</strong> Customizable background colors and themes
                            </li>
                        </ul>
                        <div class="card-body">
                            <p>Code available upon request</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mx-5">
                        <img src="https://live.staticflickr.com/65535/51270873029_1b76c5ecd8_b.jpg" class="card-img-top"
                            alt="grocery list screenshot">
                        <div class="card-body">
                            <h5 class="card-title">Grocery List Utility</h5>
                            <p class="card-text">A console-based utility for creating a grocery list from categorized
                                items</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Technologies Used:</strong> C++
                            </li>
                            <li class="list-group-item">
                                <strong>Future Work:</strong> Adding a database for storing items
                            </li>
                        </ul>
                        <div class="card-body">
                            <a href="https://github.com/maryarankin/grocery-list" class="card-link btn btn-dark">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="footer py-3 mt-auto">
            <ul class="links">
                <li><a href="/">Back</a></li>
            </ul>
        </div>

    </main>

</body>

</html>